.input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 140px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  transition: all 0.3s ease-out;
}

.active {
  width: 350px;
}
