.lang-selection {
  /* -webkit-appearance: none; */
  background-color: #008080;
  color: #fff;
  border: none;
  outline: none;
  padding: 16px;
  width: 120px;
  line-height: 30px;
  margin-bottom: 30px;
  /* margin-right: 150px; */
  cursor: pointer;
}

.lang-selection:hover {
  background-color: #0d7272;
}
